<section class="todoapp">
  <header class="header">
    <h1>Todos</h1>
    <input class="new-todo" placeholder="What needs to be done?" autofocus="" [(ngModel)]="newTodo.title" (keyup.enter)="addTodo()">
  </header>
  <section class="main" *ngIf="todos.length > 0">
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]="todo.complete">
        <div class="view">
          <input class="toggle" type="checkbox" (click)="toggleTodoComplete(todo)" [checked]="todo.complete">
          <label>{{todo.title}}</label>
          <button class="destroy" (click)="removeTodo(todo)"></button>
        </div>
      </li>
    </ul>
  </section>
  <footer class="footer" *ngIf="todos.length > 0">
    <span class="todo-count"><strong>{{todos.length}}</strong> {{todos.length == 1 ? 'item' : 'items'}} left</span>
  </footer>
</section>

<!-- <p>Here’s a super-short primer on Angular’s template syntax in case you haven’t seen it yet:

    [property]="expression": set property of an element to the value of expression
    (event)="statement": execute statement when event occurred
    [(property)]="expression": create two-way binding with expression
    [class.special]="expression": add special CSS class to element when the value of expression is truthy
    [style.color]="expression": set color CSS property to the value of expression </p> --> 
